<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/partials/footer.css" />
  </head>
  <body>
    <footer>
      <div class="social-icons">
        <a href="https://facebook.com" target="_blank"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="https://instagram.com" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="https://twitter.com" target="_blank"
          ><i class="fab fa-twitter"></i
        ></a>
        <a href="https://youtube.com" target="_blank"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
      <hr />
      <p>© TravelBlog 2024</p>
      <div class="footer-links">
        <a href="#">Affiliate Disclosures</a> • <a href="#">Privacy Policy</a> •
        <a href="#">Terms Of Use</a>
      </div>
    </footer>
  </body>
</html>
