<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/partials/navbar.css">
</head>
<body>
    <nav class="navbar">
        <a href="#" class="logo"> Travel<span class="half-logo">Blog.</span></a>
        <div class="options">
          <ul>
            <li><a href="../index.html" class="nav-list">Home</a></li>
            <li><a href="../blog/blog.html" class="nav-list">Blog</a></li>
            <li class="nav-item"><a href="../destinations/destinations.html" class="nav-list">Destination <i class="fas fa-caret-down"></i></a>
              <div class="dropdown_menu">
                <ul>
                    <li><a href="#">Jaipur</a></li>
                    <li><a href="#">Vishakhapatnam</a></li>
                    <li><a href="#">Shimla</a></li>
                </ul>
              </div>
            </li>
            <li><a href="../about/about.html" class="nav-list">About</a></li>
            
          </ul>
    </nav>
</body>
</html>