* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Signika Negative", sans-serif;
}
/* Blog Content Section */
.blog-content {
  padding-top: 0;
  text-align: center;
}

.blog-intro {
  padding-top: 50px;
  background-image: url("../assets/blog-hero.jpg");
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  text-align: center;
  color: white;
}

.blog-intro h2 {
  padding-top: 12vh;
  font-size: 5em;
  color: #ffffff;
  font-weight: 700;
}

.blog-intro-para {
  color: #ffffff;
  font-size: 2em;
  margin-top: 20px;
  font-weight: 500;
}

/* second section - blog-posts list */
.blog-posts {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 20px 0;
  align-items: flex-start;
}

.post {
  width: 25%;

  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.post-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

.post-description {
  font-size: 15px;
  color: #666;
  padding: 0 15px;
  margin-bottom: 5px;
  flex-grow: 1;
}

.read-more-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: rgba(202, 99, 14, 0.961);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin: 10px auto 10px;
}

.read-more-btn:hover {
  background-color: rgba(202, 99, 14, 0.5);
}
